--
-- PostgreSQL database dump
--

\restrict p1tlFAVxUzY7uIwm7ZEiSBGJR6V6bE6gao0WjEWZwK81rEZyylGfbwkDY0wkz8N

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admins (
    id integer NOT NULL,
    username text NOT NULL,
    password text NOT NULL
);


ALTER TABLE public.admins OWNER TO postgres;

--
-- Name: admins_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.admins_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admins_id_seq OWNER TO postgres;

--
-- Name: admins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.admins_id_seq OWNED BY public.admins.id;


--
-- Name: kuliner; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kuliner (
    id integer NOT NULL,
    nama_makanan text NOT NULL,
    kategori text NOT NULL,
    alamat text NOT NULL,
    harga integer NOT NULL,
    link_gmaps text NOT NULL,
    link_foto text NOT NULL,
    deskripsi text,
    fasilitas text[],
    menu_populer text[],
    cocok_untuk text[],
    jam_buka text,
    jam_tutup text,
    trans_kode text,
    trans_jarak_meter integer,
    trans_tarif_min integer,
    trans_tarif_max integer,
    trans_rute text[],
    harga_min integer,
    harga_max integer,
    htm_min integer,
    htm_max integer
);


ALTER TABLE public.kuliner OWNER TO postgres;

--
-- Name: kuliner_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.kuliner_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kuliner_id_seq OWNER TO postgres;

--
-- Name: kuliner_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.kuliner_id_seq OWNED BY public.kuliner.id;


--
-- Name: tempat_nongkrong; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tempat_nongkrong (
    id integer NOT NULL,
    nama_tempat text NOT NULL,
    kategori text NOT NULL,
    alamat text NOT NULL,
    jam_buka text NOT NULL,
    jam_tutup text NOT NULL,
    harga_rata_rata integer NOT NULL,
    link_gmaps text NOT NULL,
    link_foto text NOT NULL,
    deskripsi text,
    fasilitas text[],
    menu_populer text[],
    cocok_untuk text[],
    trans_kode text,
    trans_jarak_meter integer,
    trans_tarif_min integer,
    trans_tarif_max integer,
    trans_rute text[],
    harga_min integer,
    harga_max integer,
    htm_min integer,
    htm_max integer
);


ALTER TABLE public.tempat_nongkrong OWNER TO postgres;

--
-- Name: tempat_nongkrong_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tempat_nongkrong_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tempat_nongkrong_id_seq OWNER TO postgres;

--
-- Name: tempat_nongkrong_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tempat_nongkrong_id_seq OWNED BY public.tempat_nongkrong.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    email text NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: wisata_alam; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wisata_alam (
    id integer NOT NULL,
    nama_tempat text NOT NULL,
    kategori text NOT NULL,
    alamat text NOT NULL,
    jam_buka text NOT NULL,
    jam_tutup text NOT NULL,
    htm integer NOT NULL,
    link_gmaps text NOT NULL,
    link_foto text NOT NULL,
    deskripsi text,
    fasilitas text[],
    cocok_untuk text[],
    trans_kode text,
    trans_jarak_meter integer,
    trans_tarif_min integer,
    trans_tarif_max integer,
    trans_rute text[]
);


ALTER TABLE public.wisata_alam OWNER TO postgres;

--
-- Name: wisata_alam_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.wisata_alam_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.wisata_alam_id_seq OWNER TO postgres;

--
-- Name: wisata_alam_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.wisata_alam_id_seq OWNED BY public.wisata_alam.id;


--
-- Name: wisata_pendidikan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wisata_pendidikan (
    id integer NOT NULL,
    nama_tempat text NOT NULL,
    kategori text NOT NULL,
    alamat text NOT NULL,
    jam_buka text NOT NULL,
    jam_tutup text NOT NULL,
    htm integer NOT NULL,
    link_gmaps text NOT NULL,
    link_foto text NOT NULL,
    deskripsi text,
    fasilitas text[],
    cocok_untuk text[],
    trans_kode text,
    trans_jarak_meter integer,
    trans_tarif_min integer,
    trans_tarif_max integer,
    trans_rute text[]
);


ALTER TABLE public.wisata_pendidikan OWNER TO postgres;

--
-- Name: wisata_pendidikan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.wisata_pendidikan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.wisata_pendidikan_id_seq OWNER TO postgres;

--
-- Name: wisata_pendidikan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.wisata_pendidikan_id_seq OWNED BY public.wisata_pendidikan.id;


--
-- Name: admins id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins ALTER COLUMN id SET DEFAULT nextval('public.admins_id_seq'::regclass);


--
-- Name: kuliner id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kuliner ALTER COLUMN id SET DEFAULT nextval('public.kuliner_id_seq'::regclass);


--
-- Name: tempat_nongkrong id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tempat_nongkrong ALTER COLUMN id SET DEFAULT nextval('public.tempat_nongkrong_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: wisata_alam id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wisata_alam ALTER COLUMN id SET DEFAULT nextval('public.wisata_alam_id_seq'::regclass);


--
-- Name: wisata_pendidikan id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wisata_pendidikan ALTER COLUMN id SET DEFAULT nextval('public.wisata_pendidikan_id_seq'::regclass);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (id);


--
-- Name: admins admins_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_username_key UNIQUE (username);


--
-- Name: kuliner kuliner_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kuliner
    ADD CONSTRAINT kuliner_pkey PRIMARY KEY (id);


--
-- Name: tempat_nongkrong tempat_nongkrong_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tempat_nongkrong
    ADD CONSTRAINT tempat_nongkrong_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: wisata_alam wisata_alam_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wisata_alam
    ADD CONSTRAINT wisata_alam_pkey PRIMARY KEY (id);


--
-- Name: wisata_pendidikan wisata_pendidikan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wisata_pendidikan
    ADD CONSTRAINT wisata_pendidikan_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict p1tlFAVxUzY7uIwm7ZEiSBGJR6V6bE6gao0WjEWZwK81rEZyylGfbwkDY0wkz8N

